# Louis George    

## Feature Engineering of Clean Data

In [1]:
import numpy as np
import pandas as pd

from spacy.lang.en import English

In [2]:
df = pd.read_csv('../../data/df_clean.csv')

In [3]:
df.head()

,IMDb_score,RT_score,Gross_world,Budget,scripts,genres
0,0.73,0.68,53478166,30000000,TEN THINGS I HA...,Comedy|Romance
1,0.77,0.76,7537453,4000000,\n \n\n\n\n\nCUT FROM BLACK\n\nTITLE: FIN\n...,Comedy
2,0.75,0.73,119195,400000,\n \n \n ...,Drama
3,0.80,0.89,168839459,29000001,TWELVE MONKEYS\n \n An orig...,Drama|SciFi|Thriller
4,0.81,0.95,187733202,20000000,12 YEARS A SLAVE\...,Drama

Dummying the genres:

In [951]:
df = pd.concat((df, df['genres'].str.get_dummies()), axis=1).drop('genres', axis=1)

In [952]:
df.shape

(1210, 26)

### Tokenizing the Scripts

Vectorizer takes in a tokenizer. We then use this blown up df in models.

In [620]:
nlp = English()
# Create a blank Tokenizer with just the English vocab
tokenizer = Tokenizer(nlp.vocab)

In [621]:
tokens = nlp(df['scripts'][0])

In [622]:
count = 0
for i in tokens:
    print(i, i.is_stop)
    count += 1
    if count > 30:
        break

                                False
TEN True
THINGS False
I True
HATE False
ABOUT True
YOU True


                 False
written False
by True
Karen False
McCullah False
Lutz False
& False
Kirsten False
Smith False


               False
based False
on True
' False
Taming False
of True
the True
Shrew False
" False
by True
William False
Shakespeare False


           False
Revision False
November False

In [623]:
def my_tokenizer(string):
    doc = nlp(string)
    tokens = []
    for token in doc:
        if token.is_stop == False:
            tokens.append(token.lemma_)
        elif token.is_punct == False:
            tokens.append(token.lemma_)
        elif token.is_space == False:
            tokens.append(token.lemma_)


    return tokens

In [624]:
temp = my_tokenizer(df['scripts'][0])
count = 0

for i in temp:
    count += 1
    print(i)
    if count > 30:
        break

TEN
THINGS
I
HATE
ABOUT
YOU



write
by
Karen
McCullah
Lutz
&
Kirsten
Smith



base
on
'
Taming
of
the
Shrew
"
by
William
Shakespeare



Revision
November

In [625]:
from sklearn.feature_extraction.text import CountVectorizer

In [626]:
temp_df = df['scripts'][:2]

In [627]:
bagowords = CountVectorizer(tokenizer=my_tokenizer)

In [628]:
test = bagowords.fit_transform(temp_df)

In [629]:
test

<2x3733 sparse matrix of type '<class 'numpy.int64'>'
	with 4680 stored elements in Compressed Sparse Row format>

In [630]:
my_df = pd.DataFrame(columns=bagowords.get_feature_names(), data=test.toarray())
my_df.sum().head(20)

\n                                                                                                                                                                                                                    651
\n\n                                                                                                                                                                                                                  469
\n\n\n                                                                                                                                                                                                                 19
\n\n\n\n                                                                                                                                                                                                                2
\n\n\n                                                                                                                                                                                                                  1
\n\n\n                                                                                                                                                                                                                162
\n\n\n                                                                                                                                                                                                                  2
\n\n                                                                                                                                                                                                                    1
\n\n \n                                                                                                                                                                                                                 3
\n\n  \n                                                                                                                                                                                                                1
\n\n  \n                                                                                                                                                                                                                4
\n\n                                                                                                                                                                                                                  315
\n\n                                                                                                                                                                                                                    2
\n\n                                                                                                                                                                                                                    1
\n\n          \n                                                                                                                                                                                                        1
\n\n                                                                                                                                                                                                                    1
\n                                                                                                                                                                                                                    784
\n \n                                                                                                                                                                                                                   8
\n \n\n                                                                                                                                                                                                                 2
\n \n\n                                                                                                                                                                                                                 1
dtype: int64